html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
}
table{
	margin: 0 auto;
}
.mini-messagebox-content-text{
	padding: 0;
}
.formRowName{
	font-weight: bold;
}
.stepButton{
	width: 100px;
	color: #FFF;
	background-color: #4285E0;
	margin-top: 20px;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
}
#mainCanvans{
	width: 100%;
	height: 100%;
	padding: 1%;
	font-family: "Œ¢»Ì—≈∫⁄";
	/*∑¿÷πpadding∫Õmargin”∞œÏ∏ﬂ∂»*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#mainPanel{
	width: 100%;
	padding: 1%;
	border-top: 2px solid #5F98E3;
	border-radius: 4px;
	box-shadow: 4px 4px 3px #D9DBE0;
	background-color: #FFF;
	margin-bottom: 10px;
	min-width: 960px;
	/*∑¿÷πpadding∫Õmargin”∞œÏ∏ﬂ∂»*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/*√Ê∞Â±ÍÃ‚”Î∑µªÿ∞¥≈•*/
#panelTop{
	width: 100%;
	height: 25px;
	margin-bottom: 3px;
}
#panelTitle{
	padding-left: 10px;
	padding-bottom: 6px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	font-family: "Œ¢»Ì—≈∫⁄";
}
#returnButton{
	float: right;
	color: #4285E0;
	cursor: pointer;
}
#returnButtonIcon{
	float: left;
	width: 15px;
	height: 15px;
	margin-top: 4px;
	margin-right: 2px;
	background-image: url(../img/back.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#returnButtonInfo{
	float: left;
	font-family: "Œ¢»Ì—≈∫⁄";
}
/*“≥√Ê¡˜≥Ã–≈œ¢*/
#flowList{
	width: 100%;
	height: 34px;
	border-top: 2px solid #D2D2D2;
	border-radius: 3px;
	padding: 6px 0;
	text-align: center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.flowStep{
	font-family: "Œ¢»Ì—≈∫⁄";
	font-size: 13px;
}
#step1,#step2,#step3,#step4,#step5{
	margin-right: 2%;
}
#step1{
	color:#4485E0; 
}
/*“≥√Êƒ⁄»›*/
#pageContext{
	width: 100%;
	padding: 5px 0;
	text-align: center;
	padding-top: 20px;
	font-size: 14px;
}
#context1 td,#context1 th,#context4_bottomTable td{
	text-align: right;
	vertical-align: middle;
}
/*1*/
#context1{
	display: block;
}
.context1_input{
	width: 200px;
}
/*2*/
#context2{
	display: none;
}
.context2_canvas{
	float: left;
	width: 50%;
	padding: 0 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.companyName{
	width: 100%;
	height: 25px;
	padding-left: 5px;
	border-left: 1px solid #BBB;
	border-top: 1px solid #BBB;
	border-right: 1px solid #BBB;
	font-size: 12px;
	font-weight: bold;
	/*∑¿÷πborder”∞œÏ∏ﬂ∂»∫ÕøÌ∂»*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/*#context2_table{
	border-collapse:collapse;
}
#context2_table td,#context2_table th{
	border:1px solid #BBB;
	text-align: center;
	width: 150px;
	height: 30px;
	vertical-align: middle;
}
.context2_input{
	width: 100%;
}
.context2_input .mini-textbox-input{
	text-align: center;
	font-size: 14px;
	font-family: "Œ¢»Ì—≈∫⁄";
}
.context2_input .mini-textbox-border{
	border-width: 0;
	background-color: #FFF;
}*/
#context2_pre{
	margin-right: 10px;
}
/*3*/
#context3{
	display: none;
}
#context3_lkCanvas{
	display: none;
}
#context3_lccCanvas{
	display: none;
}
#context3_bwxCanvas{
	display: none;
}
.schemeTable{
	border-collapse:collapse;
	width: 90%;
}
.schemeTh{
	border:1px solid #BBB;
	text-align: center;
	vertical-align: middle;
	font-family: "Œ¢»Ì—≈∫⁄";
}
.baseInfo_cellTitle,.baseInfo_cellValue,.baseInfo_cellValue_d{
	border:1px solid #BBB;
	padding-left: 6px;
	text-align: left;
	vertical-align: middle;
	font-family: "Œ¢»Ì—≈∫⁄";
}
.baseInfo_cellValue_d{
	width: 150px;
}
.context3_input{
	width: 100%;
}
#context3 .mini-textbox-border{
	border-width: 0;
}
#context3_verifyObjectCanvas{
	display: inline-block;
	margin-top: 10px;
}
#context3_verifyObjectName{
	float: left;
	font-weight: bold;
}
#context3_verifyObjectValue{
	float: left;
	width: 270px;
}
/*.context3Value{
	width: 270px;
}
.context3_input{
	width: 100%;
}
#incubatorParamsTitle{
	vertical-align: top;
}
#incubatorParams{
	margin: 0;
	border-collapse:collapse;
	width: 100%;
}
#incubatorParams td{
	border:1px solid #BBB;
	text-align: center;
	width: 100px;
	height: 30px;
}
#incubatorParams input{
	width: 100%;
}
#incubatorParams .mini-textbox-input{
	text-align: center;
	font-size: 14px;
	font-family: "Œ¢»Ì—≈∫⁄";
}
#incubatorParams .mini-textbox-border{
	border-width: 0;
	background-color: #FFF;
}
.cellInnerTitle{
	font-weight: bold;
}
#coldBrand{
	width: 159px;
	margin-right: 12px;
}
#coldQuantity{
	width: 50px;
	margin-left: 5px;
}
#monitorQuantity{
	width: 50px;
	margin-right: 12px;
}
#monitorManu{
	width: 159px;
	margin-left: 5px;
}*/
#context3_pre{
	margin-right: 10px;
}
/*4*/
#context4{
	display: none;
}
#context4_topTable{
	padding-left: 17%;
	margin-bottom: 20px;
}
.mini-grid-rowstable{
	padding-bottom: 0;
}
.measurePoint{
	width: 80px;
}
/*5*/
#context5{
	display: none;
}
#dropContent{
	width: 90%;
	border: 1px solid #BBB;
	text-align: right;
	padding: 4px 10px 4px 4px;
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#saveImg{
	float: right;
	color: #FFF;
	background-color: #4285E0;
	border-radius: 3px;
	cursor: pointer;
	font-weight: normal;
	padding: 0 5px;
	margin-left: 8px;
}
#deleteImg{
	float: right;
	color: #FFF;
	background-color: #4285E0;
	border-radius: 3px;
	cursor: pointer;
	font-weight: normal;
	padding: 0 5px;
	margin-left: 8px;
}
#context5_canvas{
	width: 90%;
	height: 280px;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-left: 1px solid #BBB;
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.context5_imgCanvas{
	width: 25%;
	height: 100%;
	float: left;
	border-right: 1px solid #BBB;
	overflow: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#lkImgCanvas{
	display: none;
}
#lccImgCanvas{
	display: none;
}
#bwxImgCanvas{
	display: none;
}
.echartsImgCanvans{
	width: 90%;
	height: 80px;
	margin-bottom: 10px;
	border: 1px solid #BBB;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
.echartsImgCanvans input{
	display: none;
}
#lkImg1{
	margin-top: 10px;
}
#lccImg1{
	margin-top: 10px;
}
#bwxImg1{
	margin-top: 10px;
}
#echartCanvas{
	width: 75%;
	height: 100%;
	float: left;
}
#chartData{
	width: 100%;
	height: 100%;
}
/*.context5Can{
	width: 580px;
	height: 208px;
	border: 1px solid #BBB;
	display: inline-block;
}
#context5_top{
	margin-bottom: 10px;
}
#context5_middle{
	margin-bottom: 10px;
}
.context5Left{
	float: left;
	width: 269px;
	height: 100%;
	border-right: 1px solid #BBB;
	padding: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.context5Right{
	float: left;
	width: 310px;
	height: 100%;
}
#context5Left1_top{
	height: 24px;
	text-align: left;
	margin-bottom: 5px;
}
#context5Left1_envir{
	font-weight: bold;
	float: left;
	margin-right: 5px;
}
#outsideEnvironment{
	float: left;
}
#environmentTemp{
	width: 160px;
}
.environmentTemp{
	text-align: center;
	width: 92px;
}
#environmentTemp .mini-textbox-border,.environmentTemp .mini-textbox-border,#warmTime .mini-textbox-border{
	border-width: 0;
}
#environmentTemp .mini-textbox-input,.environmentTemp .mini-textbox-input,#warmTime .mini-textbox-input{
	color: #5B9FC9;
}
#context5Left1_descrip{
	text-align: left;
	font-weight: bold;
	margin-bottom: 2px;
}
#context5Left1_table{
	margin: 0;
	border-collapse:collapse;
}
#context5Left1_table td,#context5Left1_table th{
	border:1px solid #BBB;
	text-align: center;
	vertical-align: middle;
}
#context5Left2_title{
	font-weight: bold;
	float: left;
	margin-right: 5px;
}
#context5Left2_time{
	float: left;
}
#warmTime{
	width: 137px;
}
#context5Left3_title{
	font-weight: bold;
	margin-bottom: 2px;
	text-align: left;
}
#desc{
	width: 240px;
	height: 150px;
}

.context5Right_top{
	width: 100%;
	text-align: left;
}
.delIcon{
	width: 20px;
	height: 20px;
	float: right;
	margin-top: 3px;
	margin-right: 130px;
	background-repeat: no-repeat;
	background-position:center center;
	background-image: url(../img/delete.png);
	cursor: pointer;
}
.imgCanvans{
	width: 100%;
	height: 183px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	background-image: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.uploadImg{
	width: 100%;
	height: 100%;
	display: inline-block;
	background-image: url(../img/uploadImg.png);
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}
#imgForm{
	display: none;
}*/