html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
}
#mainCanvans{
	width: 100%;
	height: 100%;
	padding: 1%;
	/*防止padding和margin影响高度*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#masterPanel{
	width: 100%;
	height: 46%;
	min-height: 226px;
	padding: 5px 1%;
	border-top: 2px solid #5F98E3;
	border-radius: 4px;
	box-shadow: 4px 4px 3px #D9DBE0;
	background-color: #FFF;
	margin-bottom: 1%;
	/*防止padding和margin影响高度*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#dataGridCanMaster{
	width: 100%;
	height: 85%;
	min-height: 180px;
	font-family: "微软雅黑";
	overflow: auto;
}
#pointPanel{
	width: 100%;
	height: 52%;
	min-height: 226px;
	padding: 5px 1%;
	border-top: 2px solid #5F98E3;
	border-radius: 4px;
	box-shadow: 4px 4px 3px #D9DBE0;
	background-color: #FFF;
	/*防止padding和margin影响高度*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#dataGridCanPoint{
	width: 100%;
	height: 87%;
	min-height: 180px;
	font-family: "微软雅黑";
	overflow: auto;
}
#panelTitle{
	padding-left: 10px;
	padding-bottom: 8px;
	font-size: 14px;
	font-weight: bold;
	font-family: "微软雅黑";
}