html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
}
.schemeTable{
	/*table-layout:fixed;*/
	border-collapse:collapse;
	width: 100%;
}
.schemeTh{
	border:1px solid #BBB;
	padding-left: 6px;
	text-align: left;
	vertical-align: middle;
	font-family: "微软雅黑";
}
.baseInfo_cellTitle,.baseInfo_cellValue,.collect_cellTitle,.collect_cellValue,.baseInfo_cellValue_d{
	border:1px solid #BBB;
	padding-left: 6px;
	text-align: left;
	vertical-align: middle;
	font-family: "微软雅黑";
}
.baseInfo_cellValue,.baseInfo_cellValue_d{
	text-align: left;
    vertical-align: middle;
}
.baseInfo_cellValue_d{
	width: 100px;
}
#mainCanvans{
	width: 100%;
	height: 100%;
	padding: 1%;
	font-family: "微软雅黑";
	/*防止padding和margin影响高度*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#mainPanel{
	width: 100%;
	padding: 1%;
	border-top: 2px solid #5F98E3;
	border-radius: 4px;
	box-shadow: 4px 4px 3px #D9DBE0;
	background-color: #FFF;
	margin-bottom: 10px;
	/*防止padding和margin影响高度*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#panelTop{
	width: 100%;
	height: 25px;
	margin-bottom: 10px;
}
#panelTitle{
	padding-left: 10px;
	padding-bottom: 6px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	font-family: "微软雅黑";
}
#returnButton{
	float: right;
	color: #4285E0;
	cursor: pointer;
}
#returnButtonIcon{
	float: left;
	width: 15px;
	height: 15px;
	margin-top: 4px;
	margin-right: 2px;
	background-image: url(../img/back.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#returnButtonInfo{
	float: left;
	font-family: "微软雅黑";
}
#panelContext{
	width: 100%;
}
/*-----基本信息----*/
#baseInfo{
	width: 100%;
	margin-bottom: 16px;
}
#baseInfoData{
	width: 60%;
	float: left;
}
#tableDescription{
	float: left;
}
#refreshImg{
	float: right;
	color: #FFF;
	background-color: #4285E0;
	border-radius: 3px;
	cursor: pointer;
	font-weight: normal;
	padding: 0 5px;
	margin-left: 8px;
	display: none;
}
#saveBaseInfo{
	float: right;
	color: #FFF;
	background-color: #4285E0;
	border-radius: 3px;
	cursor: pointer;
	font-weight: normal;
	padding: 0 5px;
}
.baseInfo_cellTitle{
	width: 80px;
}
.baseInfoSpan1{
	width: 100%;
	display: inline-block;
    height: 24px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: middle;
}
.baseInfoSpan2{
	box-sizing: content-box;
	background: white none repeat scroll 0 0;
    border: 1px solid #a5acb5;
    display: block;
    height: 22px;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    width: auto;
}
.baseInfoInput{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: text;
    float: left;
    font-family: "微软雅黑";
    font-size: 9pt;
    height: 22px;
    line-height: 20px;
    margin: 0;
    outline: medium none;
    padding: 0;
    width: 100%;
}
#productionDate{
	width: 100%;
}
#baseInfoImg{
	width: 40%;
	height: 311px;
	float: right;
	border-top: 1px solid #BBB;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	/*防止padding和margin影响高度*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#uploadImg{
	width: 124px;
	height: 124px;
	display: inline-block;
	background-image: url(../img/uploadImg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	top: 82px;
}
#imgForm{
	display: none;
}
/*----布点方案----*/
#layoutSchemeCollect{
	width: 100%;
}
#collectData{
	width: 100%;
	float: left;
}
.collect_cellTitle{
	width: 50%;
	min-width: 132px;
}
.collect_cellValue{
	text-align: center;
}
/*--------具体布点方式--------*/
#layoutSchemeDetail{
	height: 250px;
	width: 100%;
}
.mini-toolbar{
	border-top-width: 0;
}
.clearfloat{
	clear:both;
} 