html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
.mini-splitter-border{
	border-width: 0;
}
#mainSplit_left{
	background-color: #181E3E;
	padding-top: 2%;
	padding-left: 8px;
	padding-right: 8px;
}
#systemIcon{
	height: 30px;
	margin-left: 15%;
	margin-right: 15%;
	background-image: url(../img/brand.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
/*#searchBox{
	width: 100%;
	height: 30px;
	margin-top: 15%;
	padding: 1px 30px 1px 1px;
	box-sizing : border-box; 
	border:1px solid rgba(255,255,255,0);;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.2);
}
#inputDiv{
	float: left;
	width: 100%;
	height: 100%;
}
#searchInput{
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: rgba(255,255,255,0);
	border: 0 solid #FFF;
	color: #fff;
	font-family: "微软雅黑";
}
#searchDiv{
	float: left;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 8px;	
	margin-top: -2px;		
	border-left: 1px solid rgba(255,255,255,0.3);
}*/
#listNav{
	margin-top: 6%;
	margin-bottom: 6%;
	color: rgba(255,255,255,0.3);
	font-size: 12px;
}
#listCanvans{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
}
.listMenuF{
	width: 100%;
}
.listMenuS{
	width: 100%;
	position: relative;
	top: -40px;
}
.listFirst{
	width: 100%;
	height: 40px;
	position: relative;
	z-index: 999;
	background-color: #181E3E;
}
#listSecond1{
	width: 100%;
	height: 40px;
	clear: left;
	position: relative;
	top: -40px;
	z-index: 2;
	background-color: #181E3E;
}
#listSecond2{
	width: 100%;
	height: 120px;
	clear: left;
	position: relative;
	top: -120px;
	z-index: 1;
	background-color: #181E3E;
}
.listSecond{
	width: 100%;
	height: 40px;
	padding-left: 12px;
	/*防止padding和margin影响高度*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.listIcon{
	width: 40px;
	height: 40px;
	float: left;
	background-image: url(../img/unmenu.png);
	background-repeat: no-repeat;
	background-position:center center;
}
.listFirstIcon{
	width: 40px;
	height: 40px;
	float: left;
}
#listFirstIcon1{
	background-image: url(../img/enterprise.png);
	background-repeat: no-repeat;
	background-position:center center;
}
#listFirstIcon2{
	background-image: url(../img/system.png);
	background-repeat: no-repeat;
	background-position:center center;
}
.listTitle{
	height: 32px;
	float: left;
	color: #fff;
	font-family: "微软雅黑";
	padding-top: 8px;
	min-width: 70px;
}
.listFirst .listTitle{
	font-size: 16px;
}
.listSecond .listTitle{
	font-size: 15px;
}
.listArrow{
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	background-image: url(../img/arrow-left.png);
	background-repeat: no-repeat;
	background-position:center center;
}
.listFirst:hover{
	background-color:#141E32;
	cursor: pointer;
}
.listSecond:hover{
	background-color:#141E32;
	cursor: pointer;
}
#rightSplit_top{
	padding: 15px 1% 15px 1%;
	background-color: #4285E0;
}
/*#topMenu{
	float: left;
	height: 20px;
	width: 20px;

	background-color: #fff;
}
#topMessage{
	float: right;
	height: 20px;
	width: 20px;
	margin-right: 3%;
	background-color: #fff;
}*/
#topNotice{
	float: right;
	height: 20px;
	width: 20px;
	margin-right: 3%;
	background-image: url(../img/message.png);
	background-repeat: no-repeat;
	background-size: 100%;
	cursor: pointer;
}
/*#topInform{
	float: right;
	height: 20px;
	width: 20px;
	margin-right: 3%;
	background-color: #fff;
}*/
#topUserInfo{
	float: right;
	height: 28px;
	margin-right: 3%;
	margin-top: -4px;
}
/*#topSetting{
	float: right;
	height: 20px;
	width: 20px;
	background-color: #fff;
}*/
.messageNum{
	height: 15px;
	text-align: center;
	position: relative;
	top: -10px;
	left: 10px;
	display: inline;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 4px;
	color: #FFF;
	font-size: 12px;
	font-family: "微软雅黑";
	visibility: hidden;
}
/*#topMessage_num{
	border: 1px solid #89ED3A;
	background-color: #89ED3A;
}*/
#topNotice_num{
	border: 1px solid #F7BD5F;
	background-color: #F7BD5F;
}
/*#topInform_num{
	border: 1px solid #DF5758;
	background-color: #DF5758;
}
#userImage{
	height: 28px;
	width: 28px;
	border-radius: 28px;
	float: left;
}*/
#userName{
	float: left;
	padding-left: 8px;
	padding-top: 2px;
	color: #FFF;
}
#mainPageCan{
	width: 100%;
	height: 100%;
	padding-bottom: 31px;
	box-sizing:border-box;
}
#mainPage{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#welcomePage{
	width: 100%;
	height: 100%;
	display: block;
}
#dynamicMenuPage{
	width: 100%;
	height: 100%;
	display: block;
}
#bottomSplit_top{
	padding-left: 2%;
	padding-right: 2%;
	background-color: #FFF;
}
#bottomSplit_bottom{
	background-color: #ECEFF4;
}
.rightMenu_can{
	width: 100%;
	height: 100%;
	position: absolute;
	padding-top: 2px;
	display: none;
}
.rightMenu{
	width: 10%;
	height: 30px;
	float: left;
	text-align: center;
	min-width: 65px;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-family: "微软雅黑"
}
.rightMenu:hover{
	cursor: pointer;
}
#enterprise_list_menu{
	color: #FFF;
	background-color: #4285E0;
	min-width: 60px;
}
#enterprise_detail_menu{
	color: #FFF;
	background-color: #4285E0;
	min-width: 60px;
}
#equipment_manage_menu{
	min-width: 88px;
}
#plan_menu{
	min-width: 130px;
}
#report_menu{
	min-width: 88px;
}
#return_button{
	float: right;
	color: #FFF;
	background-color: #4285E0;
	padding: 0 6px 2px 0;
	margin-top: 5px;
	margin-right: 30px;
	border-radius: 3px;
	cursor: pointer;
}
#return_button_icon{
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 2px;
	background-image: url(../img/return.png);
	background-repeat: no-repeat;
	background-position:center center;
}
#return_button_info{
	float: left;
	margin-left: 1px;
	font-family: "微软雅黑";
}
#object_manage_menu{
	color: #FFF;
	background-color: #4285E0;
	min-width: 130px;
}
#job_manage_menu{
	color: #FFF;
	background-color: #4285E0;
	min-width: 60px;
}
#duty_manage_menu{
	color: #FFF;
	background-color: #4285E0;
	min-width: 60px;
}
#bottomInfo{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #DFE1E8;
	background-color:#FFF;
	padding-left: 10px;
}
#copyrightInfo{
	float: left;
	margin-top: 3px;
	font-size: 12px;
	font-weight: bold;
	font-family: "微软雅黑";
}
#companyInfo{
	float: left;
	margin-top: 3px;
	color: #569CC5;
	font-size: 14px;
	font-family: "微软雅黑";
}
#descriptionInfo{
	float: left;
	margin-top: 3px;
	font-size: 12px;
	font-family: "微软雅黑";
}
#versionInfo{
	float: right;
	margin-top: 3px;
	margin-right: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
}
